{% extends '@MauticCore/FormTheme/form_simple.html.twig' %}

{% block mauticContent %}dialoghsm_number{% endblock %}
{% set isExisting      = entity.getId() %}
{% set translationBase = 'dialoghsm.number' %}
{% set mauticContent   = 'dialoghsm_number' %}

{% block primaryFormContent %}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.name) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.phoneNumber) }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{ form_row(form.apiKey) }}
        {% if entity.id and entity.apiKey is not empty %}
            <p class="help-block" style="margin-top:-10px">
                <span class="label label-success"><i class="ri-shield-keyhole-line"></i> API Key configured</span>
                &nbsp;Leave blank to keep the current key.
            </p>
        {% else %}
            <p class="help-block" style="margin-top:-10px">
                <span class="label label-warning"><i class="ri-key-line"></i> API Key not set</span>
            </p>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{ form_row(form.baseUrl) }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{ form_row(form.queueName) }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{ form_row(form.batchQueueName) }}
    </div>
</div>
{% endblock %}

{% block rightFormContent %}
{{ form_row(form.isPublished) }}

<div class="hide">
    {{ form_rest(form) }}
</div>
{% endblock %}
